#three-container{
  
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(-10);
  opacity: 0;
  transition: all 2000ms ease;

}

.about-us{
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100vw;
  height: 100vh;
  
  /* overflow:hidden; */
  /* position: relative; */
  font-family: "Poppins", sans-serif;
  z-index: 2;
  /* transform: translateX(100%); */
  transform: scale(0);
  opacity: 0;
  transition: all 2000ms ease;
    /* color: #1993c7; */
}
/* 
 
.line1{
    position: fixed;
    top:-550px;
    left: -200px;
    width: 1080px;
    height: 820px;
    border-radius: 70%;
    border: 0.5px solid rgb(92, 92, 92);
    animation: spin 14s infinite reverse linear;
}
.line2{
    position: fixed;
    bottom:-100px;
    left: -200px;
    width: 1000px;
    height: 700px;
    border-radius: 48%;
    border: 0.5px solid rgb(90, 89, 89);
    animation: spin 12s infinite reverse linear;
}
.line3{
    position: fixed;
    bottom:-120px;
    left: -100px;
    width: 1180px;
    height: 220px;
    border-radius: 70%;
    border: 0.5px solid rgb(61, 60, 60);
} */
.web3{
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 56px;
    display: flex;
    width: 64vw;
    height: 8.4vh;
    /* justify-content: flex-start; */
    margin-bottom: 20px;
}

.web3 img{
    transition: ease;
    margin: 0 50px;
    z-index: 5;
}
.web3 img:hover{
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.main-about{
    display: flex;
    height: 100vh;
    width: 100vw;
    /* text-align: center; */
    justify-content:center;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: left; */
    text-align: justify;
    padding: 20px;
    text-align: justify;
    
    /* font-size: 23px; */
}
.heading{
    color: white;
    font-family: downey-regular;
    font-size: 36px;
    /* margin-left: 70px; */
    line-height: 40px;
}

.content{
    color: rgb(174, 174, 174);
    /* text-align: justify; */
    font-family: serif;
    padding: 10px;
    font-size: 16px;
    line-height: 40px;
    width: 60%;
    /* margin-left: 60px; */
    margin-top: 20px;
    /* padding-right: 80px; */
    font-family: 'Poppins', sans-serif;
    /* word-spacing: 5px; */
    text-align: center;
}

.main-about img{
    animation: mymove 360s infinite;
    filter: brightness(1.6);
}
.button {
    color: white;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 340px;
    gap: 10px;
    /* margin-top: 20px; */
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    /* margin-left: 65px; */
}

.button1 {
  width: 34px;
  height: 34px;
  padding: 2px;
  background-color: transparent;
  color: white;
  border: 2px solid #e500e5;
  border-radius: 50%;
  /* margin-left: 10px; */
  z-index: 999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  margin: 20px;
}

#vision{
  border-radius: 10px;
  background-color: black;
  opacity: 70%;
  padding: 16px 28px;
  color: white;
  border: none;
  margin: 12px;
  font-size: 14px;
}
#mission{
  border-radius: 10px;
  background-color: black;
  opacity: 70%;
  padding: 16px 28px;
  color: white;
  border: none;
  margin: 24px;
  font-size: 14px;
}

@keyframes arrow {
  0%{
    transform: translateX(0);
  }

  50%{

    transform: translateX(5px);
  }
  100%{
    transform: translateX(0);
  }
  
}

@keyframes moveUp {
    100%{transform: translateY(-10000px);}
}

@keyframes mymove {
    100% {transform: rotate(360deg);}
  }
@keyframes spin {
    100% { transform: rotate(1turn); }
  }
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@media screen and (max-width: 920px){
  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading{
    font-size: 32px;
  }
  .content{
    font-size: 16px;
    padding: 0;
    text-align: justify;
  }
}

@media screen and (max-width: 580px){
  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading{
    font-size: 24px;
  }
  .content{
    font-size: 14px;
    padding: 0;
    text-align: justify;
  }
}

@media screen and (max-width: 480px){
  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading{
    font-size: 20px;
  }
  .content{
    font-size: 12px;
    padding: 0;
    text-align: justify;
    line-height: 20px;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .button p{
    font-size: 10px;
  }
}

@font-face {
    font-family: downey-light;
    src: url("../font/Downey-Light.ttf");
}

@font-face {
    font-family: downey-black;
    src: url("../font/Downey-Black.ttf");
}

@font-face {
    font-family: downey-regular;
    src: url("../font/Downey-Regular.ttf");
}

@font-face {
    font-family: downey-o-bold;
    src: url("../font/DowneyOutline-Bold.ttf");
}

@font-face {
    font-family: downey-o-light;
    src: url("../font/DowneyOutline-Light.ttf");
}

@font-face {
    font-family: downey-o-regular;
    src: url("../font/DowneyOutline-Regular.ttf");
}