@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

#canvas{
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* position: relative; */
    position: absolute;
    display: none;
    transition: all 3s ease;
  
  
    
  }
  
  
  .Navbar-Section{
    display: none;
  }


.herobutton {
width:50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
background-color: transparent;
color: white;
border: 0.5px solid rgb(254, 182, 250);
border-radius: 50%;
z-index: 1;
cursor: pointer;
margin: 20px;
/* opacity: 0; */
transition: all 0.5s ease-in-out;
}

.transform-origin-buttons{
  transform: translateY(0);
 
}
.transform-up-buttons{
  transform: translateY(-700px);
  

}
.transform-down{
  transform: translateY(700px);
  opacity: 0;
  

}


.herobutton:hover{
  transform: scale(1.1);
  transition: 0.2s linear;
}

.herobutton i{
font-size: 20px;
}
.herobutton img{
width: 40px;
filter: brightness(4);
}
.buttons{
  display: flex;
}
.home{
  position: absolute;
  top: 21%;
  left: 46%;
   transition: all 2000ms ease;
  /* transition:  transform  2s ease; */
}
.abt{
  position: absolute;
  top: 33%;
  left: 30%;
  transition: all 2000ms ease;
}
.client{
  position: absolute;
  top: 63%;
  left: 31%;
  transition: all 2000ms ease;
}

.service{
  position: absolute;
  top: 75%;
  left: 49%;
  transition: all 2000ms ease;
}
.team{
  position: absolute;
  top: 61%;
  left: 65%;
  transition: all 2000ms ease;
}
.contact{
  position: absolute;
  top: 33%;
  left: 63%;
  transition: all 2000ms ease;
}

.buttons p{
  color: white;
  font-family: 'poppins';
  transition: 0.5s ease-in-out;
}
.buttons:hover p{
  color: rgb(216, 174, 255);
  transform: scale(1.05);
}
.buttons a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}