
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
video {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  /* filter: brightness(60%); */
}
header {
  width: 100vw;
  height: 20vh;
  position: fixed;
  top: 0px;
  background-color: transparent;
  z-index: 2;
  font-family: "Poppins", sans-serif;
}


.navbar {
  width: 92%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 90px;
  filter: brightness(2);
}

.links-group {
  display: flex;
}

header li {
  list-style: none;
  padding: 0 15px;
  transition: 0.2s ease-in;
}

header li a {
  text-decoration: none;
  color: white;
  letter-spacing: 1.5px;

  font-size: 14px;
}

header li:hover {
  transform: scale3d(1.1, 1.2, 1.3);
}
    @-webkit-keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}
@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}
body {
  /* background: url("../images/Clients/starSpaceBackground.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white  !important;
  z-index: 3;

}
body #scene {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 1000px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  
}
body #scene #left-zone {
  background: transparent;
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: left;
}
body #scene #left-zone .list {
  display: flex;
  list-style: none;
  align-content: stretch;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
body #scene #left-zone .list li.item input[type=radio] {
  display: none;
}
body #scene #left-zone .list li.item input[type=radio] ~ label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
body #scene #left-zone .list li.item input[type=radio] ~ label:first-letter {
  text-transform: uppercase;
}
body #scene #left-zone .list li.item input[type=radio] ~ label:hover {
  opacity: 0.75;
  cursor: pointer;
}
body #scene #left-zone .list li.item input[type=radio] ~ label.label_strawberry:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/83067-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body #scene #left-zone .list li.item input[type=radio] ~ label.label_banana:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/53209-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body #scene #left-zone .list li.item input[type=radio] ~ label.label_apple:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/14333-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body #scene #left-zone .list li.item input[type=radio] ~ label.label_orange:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body #scene #left-zone .list li.item input[type=radio] ~ label.label_tech:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content {
  position: absolute;
  left: 350px;
  top: -450px;
  width: 660px;
  height: 400px;
  font-size: 15px;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: slideout;
          animation-name: slideout;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body #scene #left-zone .list li.item input[type=radio] ~ .content.content_strawberry h1 {
  color: #ef58c7;
}

body #scene #left-zone .list li.item input[type=radio] ~ .content.content_banana h1 {
  color: #ef58c7;
}

body #scene #left-zone .list li.item input[type=radio] ~ .content.content_apple h1 {
  color: #ef58c7;
}

body #scene #left-zone .list li.item input[type=radio] ~ .content.content_orange h1 {
  color: #ef58c7;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content.content_tech h1 {
  color: #ef58c7;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content h1:first-letter {
  text-transform: uppercase;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content p {
  max-width: 50%;
  text-align: center;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_strawberry {
  color: #ef58c7;
  border-right: solid 4px #ef58c7;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_banana {
  color: #ef58c7;
  border-right: solid 4px #ef58c7;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_apple {
  color: #ef58c7;
  border-right: solid 4px #ef58c7;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_orange {
  color: #ef58c7;
  border-right: solid 4px #ef58c7;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_tech {
  color: #ef58c7;
  border-right: solid 4px #ef58c7;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ .content {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body #scene #middle-border {
  background-color: #eee;
  height: 75%;
  flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}
body #scene #right-zone {
  background: transparent;
  height: 100%;
  flex-grow: 3;
}
.item .content i{
    font-size: 40px;
  margin: 10px;
  /* opacity: 0.8; */
  border: 2px solid white;
  padding:0 10px;
  border-radius: 50%;
  /* color: rgb(109, 209, 220); */
  /* animation: icon 2s infinite linear; */
  transition: all 2s ;
  color: #ef58c7;
}

label i{
  font-size: 20px;
  margin-right: 10px;
  
}

/* .content_strawberry i{
    color: #ef58c7;
}
.content_banana i{
    color: #ef58c7;
}
.content_apple i{
    color: #ef58c7;
}
.content.content_orange i{
    color: #ef58c7;
}
.content.content_tech i{
    color: #ef58c7;
}
 */




/* animated back */
/* Header */
.large-header {
  position: relative;
  width: 100%;
  /* background: #333; */
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  height: 100vh;
}



.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width : 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}

/* firefly */




