@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');

/* main-team */

.team-section{
  /* transform: translateX(100%); */
  transform: scale(0);
  opacity: 0;
  transition: all 2s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.main-team {
  width: 100vw;
  height: 100vh;
  /* background: url("../images/Clients/starSpaceBackground.jpg"); */
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-team h1{
  font-size: 3.5rem;
  margin-bottom: 50px;
 font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}

.main-team h2 {
  font-size: 1.7rem;
}

.box {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  flex-wrap: wrap;
}


.card {
width: 220px;
height: 250px;
perspective: 800px;
}




.card img {
  width: 14vw;
}

.card__inner {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card:hover .card__inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.card__body {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  color: white;
  text-align: center;

}



.card__title {
    font-size: 2.5rem;
}

.card__body p {
    font-size: 1.2rem;
}

.card__body--front {
  /* background-image: radial-gradient(
    circle 248px at center,
    #00ff73 0%,
    #5cdb95d2 47%,
    #5cdb95 100%
  ); */
  background-color: rgba(255, 255, 255, 0.1);
}

.card__body--back {
  background-image: linear-gradient(
    60deg,
    rgba(159, 107, 255, 0.361) 14%,
    rgba(107, 1, 164, 0.295) 57%,
    rgba(134, 115, 255, 0.249) 89%
  );
  transform: rotateY(180deg);
}
/* 
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottom p {
  font-weight: 300;
} */

/* INFO CARDS */

.cross {
  position: absolute;
  color: white;
  top: 30px;
  right: 45px;
  font-size: 25px;
  cursor: pointer;
}


.i {
  background: url(../images/Clients/starSpaceBackground.jpg);
  /* background-image: linear-gradient(
    60deg,
    rgba(58, 162, 180, 0.361) 14%,
    rgba(255, 41, 234, 0.295) 57%,
    rgba(252, 69, 78, 0.249) 89%
  ); */
  width: 75vw;
  height: 80vh;
  border-radius: 50px;
  padding: 50px;
  margin-top: 20px;
  position: absolute;
  top: 10vh;
  left: 12.5vw;
  transition: all ease-in-out 0.2s;
  background-size: contain;
}

.i img {
  width: 20rem;
  /* filter: drop-shadow(0 0 5mm rgba(255, 255, 255, 0.784)); */
}

.i p {
  opacity: 0.7;
}

.i h2 {
  margin-bottom: 30px;
}

.i1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  transform: scale(0.01);
  opacity: 0;
}

.i1 .text {
  width: 60%;
}


.i2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  line-height: 30px;
  transform: scale(0.01);
  opacity: 0;
}



.i3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  line-height: 30px;
  transform: scale(0.01);
  opacity: 0;
}

.i3 .text {
  width: 50%;
}



.i4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  line-height: 30px;
  transform: scale(0.01);
  opacity: 0;
}

.i4 .text {
  width: 60%;
}


.visible {
  transform: scale(1) !important;
  opacity: 1 !important;
  transition: all ease-in-out 0.2s;
}


